<!DOCTYPE html>
<html lang="en" ng-app="GithubApp" ng-cloak>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Github portafolio</title>
    <link rel="stylesheet" type="text/css" href="../dist/main.css">
</head>
<body ng-controller="HomeController">

    <!-- Wrapper container -->
    <div class="container">

        <div class="wrapper-header row">
            <h1 class="col-md-12 mt-4 text-center">Portafolios GitHub</h1>

            <div class="col-md-10 mt-3 mx-auto">
                <div class="inner-addon left-addon">
                    <i class="fa fa-search"></i>
                    <input class="form-control" type="search" placeholder="Búsca los mejores proyectos aquí..." 
                        ng-model="search"
                        ng-model-options="{ debounce: 500 }"
                        ng-change="filterUsers()"
                        />
                </div>
            </div>

            <!-- Counts footer descriptions -->
            <div class="col-md-10 mx-auto mt-1 mb-2">
                <label class="control-label float-right small">Se encontraron {{count}} portafolios</label>
            </div>

            <!-- Filters -->
            <div class="col-md-10 mx-auto">
                <div class="input-group mb-3">
                    <div class="form-check form-check-inline">
                        <em><i class="fa fa-filter"></i></em>
                        <label class="form-check-label ml-1 small">Filtrar:</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="all-checkbox" 
                            ng-model="selectAllCheckbox"
                            ng-change="filterUsers(optionsFilters.ALL)">
                        <label class="form-check-label small" for="all-checkbox">Todos</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="user-checkbox" 
                            ng-model="selectUsersCheckbox"
                            ng-change="filterUsers(optionsFilters.USERS)">
                        <label class="form-check-label small" for="user-checkbox">Usuarios</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="org-checkbox" ng-model="selectOrganizationsCheckbox"
                        ng-change="filterUsers(optionsFilters.ORGANIZATIONS)">
                        <label class="form-check-label small" for="org-checkbox">Organizaciones</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 mx-auto" ng-if="isLoading">
            <div class="spinner-border mx-auto" role="status">
                <span class="sr-only text-secondary">Loading...</span>
            </div>
        </div>
        
        <div class="row mt-4 mx-auto" ng-if="!isLoading">
            <div id="{{ user.id }}" class="col-md-4" ng-repeat="user in data.records">
                <div class="card" style="width: 18rem;">
                    <img ng-src="{{ user.avatar_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.login }}</h5>
                        <p class="card-text">{{ user.avatar_url }}</p>

                        <p class="card-text">
                            <score-star value="{{user.followers}}"></score-star>
                        </p>
                        <a href="#" class="btn btn-cs-primary">Show portafolio <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination components -->
        <div class="row col-md-12 mt-4" ng-if="data.records.length > 0">
            <ul class="pagination pagination-centered pg-blue">
                <!-- mx-auto -->
                <li class="page-item" 
                    ng-class="{ 
                        'disabled': pagination._currentPage == 1,
                        'disabled-pointer': pagination._currentPage == 1,
                        'clickeable-pointer': pagination._currentPage != 1
                    }">
                    <a class="page-link"
                        ng-click="pagination._onSelectPage(pagination._previousPage)"
                    >Previous</a>
                </li>
                <li class="page-item"
                    ng-class="{ 'active': pagination._currentPage == number }" 
                    ng-repeat="number in pagination._numberPages.toArray()"
                    ng-click="pagination._onSelectPage(number)"
                    >
                        <a class="page-link">{{ number }}</a>
                </li>
                <li class="page-item" 
                        ng-class="{
                            'disabled': pagination._currentPage == pagination._nextPage,
                            'disabled-pointer': pagination._currentPage == pagination._nextPage,
                            'clickeable-pointer': pagination._currentPage != pagination._nextPage
                        }"
                    >
                    <a class="page-link"
                        ng-click="pagination._onSelectPage(pagination._nextPage)"
                    >Next</a>
                </li>
            </ul>
        </div>
    </div>
        
    <!-- <script type="text/javascript" src="../dist/main.bundle.js"></script> -->
</body>
</html>